@{
    Layout = "~/Areas/Admin/Views/Share/_Layout.cshtml";
}
@* để sử dụng phân trang thì using dòng sau *@
@using X.PagedList
@* để sử dụng hàm IpageList thì using *@
@using X.PagedList.Mvc.Core
<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Users/Create" class="btn btn-primary">Add user</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List User</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th style="width:100px;"></th>
                </tr>
                @foreach(var item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td style="text-align:center;">
                    <a href="/Admin/Users/Update/@item.ID">Edit</a>&nbsp;
                    <a href="/Admin/Users/Delete/@item.ID" onclick="return window.confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
            }
                
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page=page}))
        </div>
    </div>
</div>